#  Задание - SF Salaries

Первое задание по проверке ваших навыков в pandas! Будем использовать датасет [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) из Kaggle! Следуйте инструкциям и выполняйте задания, выделенные жирным шрифтом. Задания будут становиться все сложнее по мере прохождения.

** импортировать pandas as pd.**

In [ ]:
import pandas as pd

** Прочитайте Salaries.csv и сохраните как dataframe назвав sal.**

In [ ]:
sal = pd.read_csv('/content/Salaries.csv')

** Проверьте заголовок (head) DataFrame. **

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Используйте метод .info(), чтобы узнать, сколько есть записей.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Какова средняя BasePay?**

In [ ]:
sal['BasePay'].mean()

66325.4488404877

** Какая самая большая сумма OvertimePay в наборе данных? **

In [ ]:
sal['OvertimePay'].max()

245131.88

** Как называется должность сотрудника JOSEPH DRISCOLL? Примечание. Используйте все заглавные буквы, иначе вы можете получить ответ, который не будет совпадать (существует также строчная запись Joseph Driscoll).**

In [ ]:
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Сколько зарабатывает JOSEPH DRISCOLL (включая benefits)? **

In [ ]:
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL', 'TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** Как зовут самого высокооплачиваемого сотрудника (включая benefits)?**

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

** Как зовут самого низкооплачиваемого человека (включая benefits)?
Вы заметили что-то странное в том, сколько ему / ей платят?**

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

** Каков был средний (mean) показатель BasePay всех сотрудников в год? а за период (2011-2014)? **

In [ ]:
average_basepay_per_year = sal.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** Сколько существует уникальных названий должностей? **

In [ ]:
sal['JobTitle'].nunique()

2159

** Каковы 5 самых распространенных профессий? **

In [ ]:
print(sal['JobTitle'].value_counts()[:5])

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** Сколько должностей было представлено в лице одного человека в 2013 году? (другими словами, должности, которые встречаются только один раз в 2013 году?) **

In [ ]:
sal[sal['Year'] == 2013]['JobTitle'].value_counts().eq(1).sum()

202

** У скольких людей в названии должности есть слово «шеф» (Chief)? (Это довольно сложно, вам нужно написать функцию) **

In [ ]:
def chief_string():
    # Count the number of people with job titles containing "Chief"
    count = sal[sal['JobTitle'].str.contains('Chief', case=False)]['EmployeeName'].nunique()
    return count

print(chief_string())

517

** Бонус: есть ли связь между длиной строки названия должности и зарплатой? (Найдите корреляцию методом .corr())**

In [ ]:
sal['JobTitle'].str.len().corr(sal['TotalPayBenefits'])

-0.036878445932606675

In [ ]:
#netu, pochti nol'